body{
  background-color: #ffafcc;
}
h2{
  color: #f72585;
    font-size: 300%;
  letter-spacing: 2px;
}
p{
  color: white; 
  font-size: 150%; 
}
li{
  float: left; 
}
li a: hover
{
  color: white;
}
ul{
  position: fixed;
}
